/AsicPanel/.vs
/AsicPanel/AsicPanel/Client/bin
/AsicPanel/AsicPanel/Client/obj
/AsicPanel/AsicPanel/Server/bin
/AsicPanel/AsicPanel/Server/obj
/AsicPanel/AsicPanel/Shared/bin
/AsicPanel/AsicPanel/Shared/obj
