@page "/fetchdata"
@using AsicPanel.Shared
@using AsicPanel.Shared.Entities
@using AsicPanel.Shared.Entities.Innosilicon
@inject HttpClient Http
@using Microsoft.AspNetCore.Mvc

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ip</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in devices.Data.Devices)
            {
                <tr>
                    <td>@device.Ip</td>
                    <td>@device.Type</td>
                    <td>
                        <form method="post" action="@Url.Action("GetFoo", "ControllerName")">
                            <input type="hidden" name="id" value="@device" />
                            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Result<Settings>? devices;
    private Task<EmptyResult>? auth;

    protected override async Task OnInitializedAsync()
    {
        devices = await Http.GetFromJsonAsync<Result<Settings>>("Config/Settings");
        //auth = await Http.Po .GetFromJsonAsync<Task<EmptyResult>>("Device/Auth");
    }
}
